/* ChoiceCard.css */
.choice-card {
  flex-basis: calc(33.333% - 20px);
  margin: 10px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease;
}

.choice-card:hover {
  transform: translateY(-5px);
}

.choice-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}
img {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}
.choice-name {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.choice-city {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #666;
}

.game-record {
  font-size: 1rem;
  color: #333;
}

/* Record styles */
.win { color: #28a745; }
.lose { color: #dc3545; }
.tie { color: #6c757d; }

.choose-button{

  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0176ac;
  color: white;
  /* font-size: 1.25rem; */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choose-button:hover {
  background-color: #014869;
}

.choose-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 90, 239, 0.4); /* add a blue border when button is focused */
}

/* ChoiceCard.css */


.choice-card.computer-choice {
  /* Your styles for the computer's choice card */
  animation: pulse 1s infinite; /* Example of a pulsing animation */
}

/* Example keyframes for a pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
