.game-choices-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .game-choices-container {
    display: flex;
    flex-direction: column;
  }
  
  .player-cards, .computer-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


  /* ... existing styles ... */

.summary-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  background-color: #f7f7f7; /* Example background color, change as needed */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds a subtle shadow */
}

.user-score,
.computer-score {
  font-weight: bold;
  color: #333; /* Dark font color for contrast */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
  .summary-card {
    flex-direction: column;
  }
}

/* ... other styles ... */
